
body{
  background-color: #9c9f84;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin: 0px;
  
}
#header1{
  background-color: #5c755e;
  font-size: medium;
  height: 90px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
  border-radius: 5px;
  
  
}

#header2{
  margin: 10px;
  background-color: #5c755e;
  height: 90px;
  border-radius: 5px;
  display: block;

}
.btn{
  font-size: medium;
  border-radius: 5px;

}
.display{
  background-color: #5c755e;
}

